---
import ScoresIcon from "@/icons/dashboard/ScoresIcon.astro";
import Card from "../../Card.astro";
import CardButton from "../../CardButton";
import LikedMusicIcon from "@/icons/dashboard/LikedMusic.astro";
import { ROUTES_PATH } from "../../../const";
import MusicCategoryIcon from "@/icons/dashboard/MusicCategory.astro";
import CardButtonCategories from "../../CardButtonCategories.astro";
import AlbumForm from "@/components/scores/AlbumForm.jsx";

const userID = "2";
---

<section class="w-full mt-10 flex flex-col">
  <div class="w-full flex items-center gap-24">
    <article>
      <h2 class="text-2xl font-medium py-3">Mis partituras</h2>
      <Card className="min-h-[18.5rem] bg-transparent p-3">
        <div class="w-full flex gap-4">
          <CardButton
            className="bg-[#1A1E2C] hover:bg-[#212636]"
            href={ROUTES_PATH.SCORES.MY_SCORES}
            title="Mis partituras"
            userId={userID}
            client:load
          >
            <ScoresIcon className="w-14" />
          </CardButton>
          <CardButton
            className="bg-[#1A1E2C] hover:bg-[#212636]"
            href={ROUTES_PATH.SCORES.MY_LIKED}
            title="Mis favoritos"
            userId={userID}
          >
            <LikedMusicIcon className="w-10" />
          </CardButton>
        </div>
      </Card>
    </article>
    <article>
      <h3 class="text-2xl font-medium py-3">Mis albumes</h3>
      <Card className="min-h-[18.5rem] bg-transparent p-3">
        <div class="w-full min-h-max flex items-center gap-6">
          <CardButton
            className="bg-[#1A1E2C] hover:bg-[#212636]"
            href={ROUTES_PATH.SCORES.MY_ALBUMS}
            title="Mis álbumes"
            userId={userID}
          >
            <ScoresIcon className="w-14" />
          </CardButton>
          <div class="flex items-center gap-2">
            {
              
            }
            <AlbumForm client:load />
          </div>
        </div>
      </Card>
    </article>
  </div>
  <article class="-mt-20">
    <h2 class="text-2xl font-medium py-3" transition:name="scores_title">
      Partituras
    </h2>
    <Card className="bg-transparent p-3">
      <article class="w-full min-h-max flex flex-col justify-center gap-2">
        <CardButtonCategories
          className="w-3/4"
          title="Banda Sinaloense"
          description="Partituras para banda sinaloense"
          total="200"
          href={ROUTES_PATH.SCORES_CATEGORY.BANDA}
        >
          <MusicCategoryIcon className="w-16" />
        </CardButtonCategories>
        <CardButtonCategories
          className="w-3/4"
          title="Mariachi"
          description="Partituras para mariachi"
          total="9"
          href={ROUTES_PATH.SCORES_CATEGORY.MARIACHI}
        >
          <MusicCategoryIcon className="w-16" />
        </CardButtonCategories>
        <CardButtonCategories
          className="w-3/4"
          title="Sonora"
          description="Partituras para sonora tropical"
          total="20"
          href={ROUTES_PATH.SCORES_CATEGORY.SONORA}
        >
          <MusicCategoryIcon className="w-16" />
        </CardButtonCategories>
      </article>
    </Card>
  </article>
</section>