---
interface Props {
  title: string;
  description?: string;
  total?: string;
  className?: string;
  href?: string;
}
const {
  className = "",
  title,
  description = "",
  total = "",
  href = "",
} = Astro.props;
---

<article
  class={`w-full min-h-24 py-3 px-5 flex justify-between items-center bg-[#1A1E2C] hover:bg-[#212636] rounded-lg transition-all cursor-pointer ${className}`}
>
  <a class="w-full flex items-center" href={href}>
    <div class="w-full min-h-max flex items-center gap-6">
      <slot />
      <div class="w-full min-h-max flex flex-col justify-center gap-1">
        <h3 class="font-semibold">{title}</h3>
        <p class="text-sm font-light text-gray-400">
          {description}
        </p>
      </div>
    </div>
    <div class="mr-4">
      <p class="font-normal text-xl text-[#26ab3c]">
        <span>{total}</span>
      </p>
    </div>
  </a>
</article>
