---
import { CardScore } from "@/components/CardScore";
import Scores from "@/components/pages/scores/Scores.astro";
import AppLayout from "@/layouts/AppLayout.astro";
import { getAllScores } from "@/lib/scores/scores_actions";
import { fade } from "astro:transitions";
const { cookies } = Astro;

const sb_user = cookies.get("sb-user");
const token = sb_user?.json().token_session;
const url = Astro.url.pathname;
let subUrl = url.substring(url.lastIndexOf("/") + 1);

let category = subUrl.replace(
  /\w\S*/g,
  (category: any) =>
    subUrl.charAt(0).toUpperCase() + category.substr(1).toLowerCase()
);

if (category === "Banda") {
  category = "Banda Sinaloense";
}

const scores = await getAllScores(token);
const filteredScores = scores?.filter((score: any) => score.category === subUrl);

// Pendiente agregar downloadings en API en scores model
---

<AppLayout title="">
  <section class="w-full mt-10 px-6 md:px-0 flex flex-col">
    <article>
      <h2 class="text-2xl font-medium py-3" transition:name="scores_title">
        Partituras
      </h2>
      <h4
        class="mt-4 text-2xl text-[#26ab3c] font-semibold"
        transition:animate={fade({ duration: ".4s" })}
      >
        {category}
      </h4>
    </article>
    <section
      class="w-full min-h-96 flex justify-center items-center"
      transition:animate={fade({ duration: ".4s" })}
    >
      {
        filteredScores.length > 0 ? (
          <div class="w-full min-h-max mt-10 mb-28 gap-10 flex flex-wrap justify-center md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-y-20">
            {filteredScores.map((score: any) => (
              <CardScore
                title={score.name}
                author={score.artist}
                user={score.author}
                downloads="4"
                scoreImage={score.url_image}
              />
            ))}
          </div>
        ) : (
          <div class="w-full">
            <p class="text-center text-xl text-gray-400/60">
              No hay partituras en esta categoria
            </p>
          </div>
        )
      }
    </section>
  </section>
</AppLayout>
@/components/CardScore
