---
import SideMenuItem from "../SideMenuItem.astro";
import SettingsIcon from "@/icons/dashboard/SettingsIcon.astro";
import LibraryIcon from "@/icons/dashboard/LibraryIcon.astro";
import { ROUTES_PATH } from "@/const";
import DashboardIcon from "@/icons/dashboard/DashboardIcon.astro";
import Metronome from "@/icons/dashboard/Metronome.astro";
import DropdownNav from "./DropdownNav.astro";
import { LogoutButton } from "../auth/LogoutButton";
import UserSettings from "@/icons/dashboard/UserSettings.astro";
---

<nav class="w-full h-full text-[15px] flex flex-col" aria-label="Sidebar">
  <div class="mt-4 mb-5 px-4">
    <ul class="flex flex-col gap-3">
      <!-- <SideMenuItem
        href={ROUTES_PATH.DASHBOARD}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-3 text-base font-normal"
      >
        <DashboardIcon className="w-9 text-white" />
        Inicio
      </SideMenuItem> -->
      <DropdownNav />
      <SideMenuItem
        href={ROUTES_PATH.METRONOME}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-3 text-base font-normal"
      >
        <Metronome className="w-7 text-white" />
        Metrónomo
      </SideMenuItem>
    </ul>
  </div>

  <div class="w-10/12 mx-auto my-2 border-t border-gray-700/65"></div>

  <div class="px-4 mt-2 flex-1">
    <ul>
      <SideMenuItem
        href={ROUTES_PATH.LIBRARY}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-4 text-base font-normal"
      >
        <LibraryIcon className="w-7 text-white" />
        Tu biblioteca
      </SideMenuItem>
    </ul>
  </div>

  <div class="px-4 mb-6">
    <ul class="w-full flex flex-col gap-2">
      <SideMenuItem
        href={ROUTES_PATH.USER}
        className="text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-2 text-base font-normal"
      >
      <UserSettings />
        Mi cuenta
      </SideMenuItem>
      <SideMenuItem
        href={ROUTES_PATH.SETTINGS}
        className="mb-4 text-white hover:text-gray-100 hover:bg-[#3c475579] py-3 px-4 gap-2 text-base font-normal"
      >
        <SettingsIcon className="w-8 text-white" />
        Ajustes
      </SideMenuItem>
      <LogoutButton client:visible />
    </ul>
  </div>
</nav>
